@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');

*{
    margin: 0px;
}

.container{
    background-image: url(pok.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right top;
    min-height: 100%;
}

.titles{
    font-size: 72.5px;
    color: aliceblue;
    font-family: "Teko", sans-serif;
    padding: 80px;
    text-align: center;
}

.web{
    /* margin-bottom:100px; */
    padding-bottom: 0px 50px 100px 50px;
    justify-content: space-evenly;
    display: flex;
}

.button{
    padding: 15px;
    margin: 10px;
    background-color: #ffffff47;
    opacity: 0.9;
    border-radius: 50px;
    font-size: 25px ;
    color: black;
    font-family: "Teko", sans-serif;
}

a{
    color: black;
    text-decoration: none;
}

.footer{
    display: flex;
    justify-content: space-between;
}

.foot{
    font-size: 20px;
    color: aliceblue;
    font-family: "Teko", sans-serif;
    text-align: center;
    margin-top: 100px;
    padding: 10.5px;
}
